@import url("https://fonts.cdnfonts.com/css/gotham-pro");

@font-face {
    font-family: "Gotham Pro";
    src: url("/fonts/GothamPro-Light.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}